# Don't track content of these folders #
########################################
*/expfactory/*

# Ignore participant lists #
############################
*participants*.tsv

# Ignore all logs #
###################
*.log

# Ignore pickled data
#####################
*.pkl

# credentials #
###############
*.env
*secret*

# Ignore checkpoints #
######################
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# R Stuff #
###########
*.Rproj.user
*.Rhistory
*.DS_Store
.Rproj.user

# Ignore large files #
######################
*.zip
*.pkl
